@font-face {
  font-family: lulo;
  src: url('./components/fonts/FontsFree-Net-Lulo-Clean-W01-One-Bold.ttf');
}
@font-face {
  font-family: nimbus;
  src: url('./components/fonts/NimbusSanL-Reg.otf');
}
@font-face {
  font-family: futura;
  src: url('./components/fonts/FuturaLT-Book.woff');
}
@font-face {
  font-family: futura-light;
  src: url('./components/fonts/FuturaLT-Light.woff');
}
body {
  margin: 0;
}
