@font-face {
  font-family: lulo;
  src: url('./components/fonts/FontsFree-Net-Lulo-Clean-W01-One-Bold.ttf');
}
@font-face {
  font-family: nimbus;
  src: url('./components/fonts/NimbusSanL-Reg.otf');
}
@font-face {
  font-family: futura;
  src: url('./components/fonts/FuturaLT-Book.woff');
}
@font-face {
  font-family: futura-light;
  src: url('./components/fonts/FuturaLT-Light.woff');
}
@font-face {
  font-family: clarendon;
  src: url('./components/fonts/Clarendon\ Regular.otf');
}
@font-face {
  font-family: palatino;
  src: url('./components/fonts/Palatino.ttf');
}
@font-face {
  font-family: garamond;
  src: url('./components/fonts/EBGaramond-Regular.ttf');
}
body {
  margin: 0;
}
